.container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    position: relative;
    padding-left: 36px;
}
.item:not(:first-child) {
    padding-top: 14px;
}
.item:not(:last-child) {
    padding-bottom: 14px;
}
.item:before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    margin-top: 6px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #333;
}

.newType {
    font-weight: 600;
}

.criticalType {
    font-weight: 600;
    color: #c23e3e;
}
