.container {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #fff;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
    box-sizing: border-box;
    transition: background 0.6s ease, box-shadow 0.2s ease;
}
.container.focused {
    box-shadow: 0 0 0 4px rgba(60, 144, 244, 0.2);
    border-color: rgba(60, 144, 244, 1);
}

.before {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    margin-left: -16px;
    margin-right: 16px;
    border-radius: 8px 0 0 8px;
    background: #ECECEC;
}

.after {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 16px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
.icon svg {
    width: 20px;
    height: 20px;
}

.value {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    background: transparent;
    -webkit-box-shadow: 0 0 0 1000px #fff inset!important;
    background: #fff!important;
    background-clip: content-box!important;
}

.input:-webkit-autofill {
    animation-name: onAutoFillStart;
}
.input:not(:-webkit-autofill) {
    animation-name: onAutoFillCancel;
}

.container.focused.hasPlaceholder .input, 
.container.filled.hasPlaceholder .input {
    padding-top: 12px;
}

.input::-webkit-input-placeholder {
    font-weight: 500;
    color: #9A9AA1;
}
.input::-moz-placeholder {
    font-weight: 500;
    color: #9A9AA1;
}
.input:-ms-input-placeholder {
    font-weight: 500;
    color: #9A9AA1;
}
.input:-moz-placeholder {
    font-weight: 500;
    color: #9A9AA1;
}

.placeholder {
    position: absolute;
    z-index: 1;
    top: 50%;
    color: #9A9AA1;
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate(0, -50%);
    transition: transform 0.1s linear;
}
.container.focused.hasPlaceholder .placeholder, 
.container.filled.hasPlaceholder .placeholder {
    transform: translate(0, -100%) scale(0.7, 0.7);
}

.clear {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.7;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-animation: appear 0.3s ease;
    animation: appear 0.3s ease;
}
.clear:hover {
    opacity: 1;
}

.clear svg {
    width: 12px;
    height: 12px;
    vertical-align: top;
}

.unravel {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.7;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-animation: appear 0.3s ease;
    animation: appear 0.3s ease;
}
.unravel:hover {
    opacity: 1;
}

.unravel svg {
    width: 16px;
    height: 16px;
    vertical-align: top;
}

@keyframes onAutoFillStart { from {} to {}}
@keyframes onAutoFillCancel { from {} to {}}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}