.container {
    --next-ui-textline-background-color: var(--palette-color-form-flat-background);
    --next-ui-textline-border-color: var(--palette-color-form-flat-background);

    --next-ui-textline-hovered-background-color: var(--palette-color-form-flat-background-hovered);
    --next-ui-textline-hovered-border-color: var(--next-ui-textline-border-color);

    --next-ui-textline-focused-background-color: var(--palette-color-form-flat-background-hovered);
    --next-ui-textline-focused-border-color: var(--next-ui-textline-border-color);
    --next-ui-textline-focused-shadow: none;

    --next-ui-textline-errored-color: var(--palette-color-white);
    --next-ui-textline-errored-background-color: var(--palette-color-error);
    --next-ui-textline-errored-placeholder-color: rgba(var(--palette-color-white-rgb), 0.7);
    --next-ui-textline-errored-control-color: var(--palette-color-white);
}
