.container {
    width: 280px;
    padding: 32px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    font-size: 32px;
    font-weight: 900;
    color: #333;
    background: -webkit-linear-gradient(45deg, #7f198d, #e4366a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    margin: 0;
    padding: 24px 0;
    list-style: none;
    white-space: nowrap;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;
    padding: 8px 0;
    cursor: pointer;
    color: #999;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}
.navItem:hover {
    color: #666;
}
.navItem.active {
    color: #333;
    font-weight: 600;
    letter-spacing: 4px;
}

.navDelimiter {
    padding: 16px 0;
}

.navDelimiter div {
    height: 1px;
    background: #323232;
}